# Binarios compilados
/gentle-mesh
*.zip
/bin/
/dist/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Artefactos de Test y Cobertura
*.out
*.test
*.prof
coverage.txt
.coverage
*.visual-check.*

# Herramientas locales y Pi
.atl/
*.secret
.env
.env.local

# IDEs y Editores
.idea/
.vscode/
*.swp
*~
